@charset "utf-8";

/* . = class */
.box {
    width: 200px;
    height: 200px;
    background: darkolivegreen;
}

/* camel case */
.emptySpace {
    width: 200px;
    height: 200px;
}

.roundedCorners {
    border-radius: 10px;
}