@charset "utf-8";
body {
    background: #99f3ff;
}

header {
    height: 150px;
    width: 60%;
    background: #7ac2cc;
    margin-left: auto;
    margin-right: auto;
}

main section {
    width: 60%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

main section:nth-child(1) {
    background: #6eccca;
}

main section:nth-child(2) {
    background: #84A1C9;
}

main section:nth-child(3) {
    background: #88C9C7;
}

footer {
    height: 150px;
    width: 60%;
    background: #7ac2cc;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
